:root {
    --bg: #000099;
    --bg-o: rgba(0,0, 255, 0.5);
    --txt: #eee;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-wrap: break-word;
}

/* NAVBAR */
.navbar {
    height: 10vh;
    background-color: var(--bg) !important;
}
.navbar-brand {
    color: var(--txt) !important;
    font-size: 12px;
}
.nav-link {
    color: var(--txt) !important;
}

/* MAIN SECTION */
.main-body {
    width: 100%;
    max-width: 1400px;
    height: 90vh;
    background: url('assets/img1.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay-main {
    padding: 30px;
    margin: 20px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-o);
    color: var(--txt);
    border-radius: 10px;
    text-align: center;
}
.map-button {
    background-color: var(--txt);
    color: var(--bg);
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.overlay-bottom-right {
    padding: 20px;
    margin: 20px;
    background-color: rgba(115, 115, 115, 0.8);
    color: var(--txt);
    border-radius: 8px;
}